<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="EmojiTetra Replay Viewer" />
    <meta property="og:description" content="A little app to replay games from the delightful @emojitetra Twitter account" />
    <meta property="og:image" content="https://cdn.glitch.com/ca559128-0a9d-41fe-94fe-ea43fec31feb%2Femojitetra.png?1526258693969"/>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- Emoji -->
    <link rel="stylesheet" href="/emoji.css" />
    
    <script type="text/javascript">
      // Template variables
      var cur_tweet = '{{ tweet_id }}';
      var play_speed = {{ play_speed | d('null') }};
    </script>
  </head>
  <body>
    <!-- Pre-load emoji sheet -->
    <img id="emoji_sheet" src="https://cdn.glitch.com/ca559128-0a9d-41fe-94fe-ea43fec31feb%2Fsheet_twitter_32.png" style="display:none"/>
    <header>
      <h1>
        Emoji Tetra Replay
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Here's what's been happening on <a href="https://twitter.com/emojitetra">@emojitetra</a>:</p>
      <section class="board">
        <button title="As of when you loaded the page, anyway" id="current">Latest Tweet</button><br/>
        <button title="Skip to the previous start/end of a game" id="prevStart">&lt;&lt;</button>
        <button id="prev">&lt;</button>
        <button title="Automatically step through the game, using the Frames Per Second value below" id="play">Play</button>
        <button id="next">&gt;</button>
        <button title="Skip to the next start/end of a game" id="nextStart">&gt;&gt;</button>
        <br/>
        <span id="date"></span>
        <a class="permalink" href="/{{tweet_id}}">🔗Permalink</a><br/>
        <hr/>
        <div id="current">
          <div id="board">Loading tweets...</div>
          <div id="right_panel">
            <h3>Next move:</h3>
            <div id="votes"></div>
            <h3>High Scores:</h3>
            <div id="high_scores"></div>
          </div>  
          <div class="clearfix"></div>
        </div>
      </section>
      <form class="options">
        <label><input id="replace_emoji" type="checkbox" value="yep" checked="checked">Replace Emoji with Images</label> <span id="loading_emoji" style="display:none">(Loading...)</span></span><br/>
        <span>Replay Frames Per Second: <input autocomplete="off" id="fps" type="number" value="1"></span>
      </form>
      <section>
        You can copy this <a class="permalink" href="/{{tweet_id}}">🔗Permalink</a> to link to this specific point here on the viewer!<br/>
      </section>
      <hr/>
      <section>
        <a href="/stats">Stats</a> | <a href="/updates">Updates</a>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a> by <a href="https://twitter.com/cincodenada">@cincodenada</a>. Source on <a href="https://gitlab.com/cincodenada/emojitetra-viewer">GitLab</a> and <a href="https://glitch.com/~emojitetra-viewer">right here on Glitch</a><br/>
      Submit bug reports/questions/ideas on the <a href="https://gitlab.com/cincodenada/emojitetra-viewer/issues">GitLab Issue Tracker</a>, or tweet at me <a href="https://twitter.com/cincodenada">@cincodenada</a>.
    </footer>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/tetra.js"></script>
    <script src="/client.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.cincodenada.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics.cincodenada.com/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </body>
</html>