<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EmojiTetra Stats</title>
    <meta name="description" content="Some neat stats made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="EmojiTetra Replay Viewer" />
    <meta property="og:description" content="A little app to replay games from the delightful @emojitetra Twitter account" />
    <meta property="og:image" content="https://cdn.glitch.com/ca559128-0a9d-41fe-94fe-ea43fec31feb%2Femojitetra.png?1526258693969"/>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/stats.css">

    <!-- Emoji -->
    <link rel="stylesheet" href="/emoji.css" />
  </head>
  <body>
    <!-- Pre-load emoji sheet -->
    <img id="emoji_sheet" src="https://cdn.glitch.com/ca559128-0a9d-41fe-94fe-ea43fec31feb%2Fsheet_twitter_32.png" style="display:none"/>
    <header>
      <h1>
        Emoji Tetra Stats
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Here's a summary of what's been happening on <a href="https://twitter.com/emojitetra">@emojitetra</a>:</p>
      <h3>Points over time per game</h3>
      <i>Ordered from slowest-scoring to fastest-scoring. Dotted line = 20 points/min</i>
      <section class="scores">
        <div id="scores"></div>
      </section>
      <h3>Contentiousness of votes</h3>
      <p>
        <i>Where "conteniousness" is a metric I made up for how unanimous or not the vote is:</i><br/>
        <pre>(total number of votes for losing options)/(number of votes for winning option)</pre>
      </p>
      <section class="votes">
        <div id="votes"></div>
      </section>
    </main>

    <footer>
      <a id="permalink" href="/{{tweet_id}}">🔗Permalink</a><br/>
      Made with <a href="https://glitch.com">Glitch</a> by <a href="https://twitter.com/cincodenada">@cincodenada</a>. Source on <a href="https://gitlab.com/cincodenada/emojitetra-viewer">GitLab</a> and <a href="https://glitch.com/~emojitetra-viewer">right here on Glitch</a><br/>
      Submit bug reports and/or ideas on the <a href="https://gitlab.com/cincodenada/emojitetra-viewer/issues">GitLab Issue Tracker</a><br/>
    </footer>
    
    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/tetra.js"></script>
    <script src="/stats.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.cincodenada.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics.cincodenada.com/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </body>
</html>